@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    /*height: 100vh;*/
    @apply transition-all duration-300;
}

.drag {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    button {
        -webkit-app-region: no-drag;
    }
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
    code {
        background-color: #f9f9f9;
    }
}
